.content {
    text-align: center;
  
  }
  .categorySection{
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 10px;
  }
  
  
  .divider{
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    font-weight: 10px;
  }
  