/* mobilePhones */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .height{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        left: 0;
        right: 0;
        margin: auto;
        padding: 0px;
        
    }
    
    
}